<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="newdemoall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

  <userSettings>
    <newdemoall.Properties.Settings>
      <setting name="IP" serializeAs="String">
        <value/>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="canmove" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cameraname" serializeAs="String">
        <value>MV-CA050-10GM</value>
      </setting>
      <setting name="comname" serializeAs="String">
        <value>COM11</value>
      </setting>
      <!--相机曝光设置 不建议修改-->
      <setting name="InitExpourseTime" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="num" serializeAs="String">
        <value>0</value>
      </setting>
      <!--电机x方向移动速度 推荐200-400之间 300为最优，不建议修改-->
      <setting name="xspeed" serializeAs="String">
        <value>200</value>
      </setting>
      <!--电机y方向移动速度 推荐200-400之间 300为最优，不建议修改-->
      <setting name="yspeed" serializeAs="String">
        <value>200</value>
      </setting>
      <!--拍照等待时间 大于100 -->
      <setting name="waittme" serializeAs="String">
        <value>400</value>
      </setting>
      <!--运行轨迹x方向移动速度 不推荐修改 不可高于165-->
      <setting name="xmove" serializeAs="String">
        <value>70</value>
      </setting>
      <!--运行轨迹y方向移动速度 不推荐修改 不可高于165-->
      <setting name="ymove" serializeAs="String">
        <value>80</value>
      </setting>
    </newdemoall.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="MarkerThreshold" value="0.15" />
    <add key="FtpPath" value="D:\Power-Ftp\" />
    <add key="RabbitMQServerHostName" value="127.0.0.1" />
    <add key="RabbitMQServerPort" value="5672" />
    <add key="RabbitMQUserName" value="admin" />
    <add key="RabbitMQPassword" value="admin" />
    <add key="RabbitMQVirtualHost" value="my_vhost" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
</configuration>
